@model IEnumerable<RoleViewModel>

@{
    ViewData["Title"] = "All Roles";
}

<h1>All Roles</h1>
<br />
<a asp-action="Create" class="btn btn-primary">Create New Role</a>

<div class="row justify-content-center align-items-center mt-3 mb-2">
    <form asp-action="Index" class="row col-md-8 offset-1">
        <div class="col-md-8">
            <input type="text" class="form-control" name="nameSearchValue" placeholder="Search By Name of Role" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
</div>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover mt-2">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(R=>R.Id)</td>
                <td>@Html.DisplayNameFor(R=>R.RoleName)</td>
                <td>Details </td>
                <td>Update </td>
                <td>Delete </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.RoleName</td>

                    <partial name="_ButtonPartialView" model="@role.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning d-flex justify-content-center">

        <h3>There are No Roles!!</h3>
    </div>
}